
:root{
    --black: #212121;
    --grey: #757575;
    --dark-grey: #2F303A;
    --blue: #2196f3;
    --white: #FFFFFF;
}

/* body */
body {
    background-color: var(--white);
    color: var(--black);    
    font-family: "Roboto", sans-serif;
    font weight: 500;
}
/* body end */

/* header*/
.brand-link {
    color: var(--black);
    font-family: "Relaway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
}
/* header end */

/*main*/
.button:hover {
    color: var(--white);
    background-color: var(--blue);
    border: 1px var(--blue);
    cursor: pointer;
    }

/*main end*/

/*footer*/

/*footer end*/
.text-blue {
    color: var(--blue);
}

.link {
    text-decoration: none;
    color: var(--black);
}

.link:hover {
    color: var(--blue);
}

.link:visited {
    text-decoration: none;
}

.contact.link {
    text-decoration: none;
    color: var(--grey);
}


